<ul>
  <li><a href="/">Home</a></li>
</ul>

<main>
    <h1>Влад Хамицкий</h1>
    <h2>Rails Developer</h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>JavaScript</li>
        </ul>
    </section>
    <section>
        <h2>Contacts</h2>
        <li><a href="https://t.me/vladislav_khamitskiy">Telegram</a></li>
        <li><a href="http://www.linkedin.com/in/vladislav-khamitskiy">LinkedIn</a></li>
        <li><a href="mailto:vladislaviktorovic@gmail.com">vladislaviktorovic@gmail.com</a></li>
    </section>
</main>